<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/my-style.css">


</head>

<body>

    {{>navigation}}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://i.ytimg.com/vi/el9eTimCNrI/maxresdefault.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{title}}</h1>
                        {{!-- <span class="subheading">Cập nhật tin tức công nghệ nhanh nhất</span> --}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{#each posts}}
                <div class="post-preview">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="avatar">
                                <img src="{{postBG}}" alt="" height="" class="img-thumbnail border-0">

                            </div>
                        </div>
                        <div class="col-md-9">
                            <a href="/post/{{id}}">
                                <h4 class="post-title">
                                    {{title}}
                                </h4>
                            </a>
                            <p class="post-meta my-1">{{datetime}}</p>
                            <small class="post-subtitle">
                                {{description}}
                                <br>
                                <a href="/post/{{id}}" class="text-info" target='_blank'>Đọc thêm &rsaquo;</a>
                            </small>

                        </div>
                    </div>

                </div>
                <hr>
                {{/each}}
                <!-- Pager -->
                <div class="Page navigation">
                    <ul class="pagination justify-content-center">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{>footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
    <script src="/js/ajax.js"></script>
     <script>
        const curPage = {{ pagination.curPage }};
        const amountPage = {{ pagination.amountPage }};
        $(document).ready(function () {
            if (amountPage > 1) {
                for (var i = 1; i <= amountPage; i++) {
                    if (i === curPage) {
                        $('.pagination').append(`<a class="btn btn-dark text-white">${i}</a>`)
                    } else {
                        if (i === curPage + 1 || i === curPage - 1) {
                            if (curPage + 1 <= amountPage || curPage - 1 >= 1) {
                                $('.pagination').append(`<a class="btn btn-primary text-white" href="/danhmuc/{{category}}?pageNumber=${i}">${i}</a>`)
                            }
                        }
                    }
                }
                if (curPage > 1) {
                    $('.pagination').prepend(`<a class="btn btn-primary text-white" href="/danhmuc/{{category}}?pageNumber=${curPage - 1}">&lsaquo;</a>`)
                }
                if (curPage < amountPage) {
                    $('.pagination').append(`<a class="btn btn-primary text-white" href="/danhmuc/{{category}}?pageNumber=${curPage + 1}">&rsaquo;</a>`)
                }
            }

        })
    </script>

</body>

</html>